<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Generar código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <br>
    <ion-input label="Nombre" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Apellido" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Empresa" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Correo electronico" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Numero de telefono" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Motivo de ingreso" label-placement="floating" fill="outline"></ion-input>
    <br>

  </ion-list>




  <ion-button expand="block" color="green" routerLink="/imagen-qr">Generar QR</ion-button>

</ion-content>
