<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content" [fullscreen]="true">
  <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
      <br>
      <ion-input formControlName="nombre" label="Nombre" label-placement="floating" fill="outline" ></ion-input>
      <br>
      <ion-input formControlName="apellidos" label="Apellido" label-placement="floating" fill="outline" ></ion-input>
      <br>
      <ion-input formControlName="correo" label="Correo electronico" label-placement="floating" fill="outline" ></ion-input>
      <br>
      <ion-input formControlName="empresa" label="Empresa" label-placement="floating" fill="outline" ></ion-input>
      <br>
      <ion-input formControlName="telefono" label="Telefono" label-placement="floating" fill="outline" ></ion-input>
      <br>
      <ion-input formControlName="motivodeingreso" label="Motivo de ingreso" label-placement="floating" fill="outline" ></ion-input>
      <br>
  <ion-button expand="block" color="green" type="submit">Generar QR</ion-button> 

  </form>

</ion-content>
