<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">GENERAR QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="formData.nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Apellidos:</ion-label>
      <ion-input [(ngModel)]="formData.apellidos"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Empresa:</ion-label>
      <ion-input [(ngModel)]="formData.empresa"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Correo electrónico:</ion-label>
      <ion-input [(ngModel)]="formData.correo" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Número de teléfono:</ion-label>
      <ion-input [(ngModel)]="formData.telefono" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Motivo de ingreso:</ion-label>
      <ion-input [(ngModel)]="formData.motivo"></ion-input>
    </ion-item>
  
  </ion-list>

  <!-- Elemento canvas para mostrar el código QR -->
  <canvas #qrCanvas></canvas>

  <!-- Botón para generar el código QR y navegar a la página de imagen-qr -->
  <ion-button expand="block" color="green" (click)="generarQR()">Generar QR</ion-button>

</ion-content>
