<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Alta de empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <br>
    <ion-input label="Nombre" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Apellido" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Numero de telefono" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Correo electronico institucional" label-placement="floating" fill="outline"></ion-input>
    <br>
    <ion-input label="Contraseña " label-placement="floating" fill="outline"></ion-input>
    <br>

  </ion-list>

  <ion-button expand="block" color="black" class="button-black-text">Generar alta</ion-button>


</ion-content>
