<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">VISITANTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active">Iniciar sesión</h2>
  
      <div class="fadeIn first">
        <img src="assets/icono.png" id="icon" alt="User Icon" />
      </div>

      <form (ngSubmit)="login()">
        <div class="input-wrapper">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo" [(ngModel)]="username">
        </div>
        <div class="input-wrapper">
          <input
            type="{{ passwordFieldType }}"
            id="password"
            class="fadeIn second"
            name="login"
            placeholder="Contraseña"
            [(ngModel)]="password"
          >
        </div>
        <ion-icon (click)="togglePassword()" name="eye" class="password-toggle-icon"></ion-icon>
        <input type="submit" class="fadeIn fourth button" value="Iniciar sesión">
      </form>  
      <!-- Mostrar mensaje de error -->
      <div *ngIf="loginError" class="error-message">
        Credenciales inválidas. Por favor, verifica tus datos.
      </div>
    </div>
  </div>
</ion-content>
