.menu{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
}
.button{
  background-color:  #4cff12;
}

ion-toolbar {
  border-width: 6px;
  border-color:  #4cff12;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-style: solid;
  background-color: black;
}
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  text-align: center;
}

#formContent {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 17px;
}

#formContent h2 {
  font-size: 20px;
}

.input-wrapper {
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
}

/* Otros estilos para el diseño del formulario... */



.inicio{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  padding-top: 20px;
  padding-bottom: 20px;  
  background-color: #ffffff; 
  padding-left: 20px; 
  border-style: solid;
  border-color: #000000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  
}

body {
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
}

h2 {
text-align: center;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
margin: 40px 8px 10px 8px; 
color: #cccccc;
}


.wrapper {
display: flex;
align-items: center;
flex-direction: column; 
justify-content: center;
width: 100%;
min-height: 100%;
padding: 20px;
}

#formContent {
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background: #fff;
padding: 30px;
width: 90%;
max-width: 450px;
position: relative;
padding: 0px;
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
text-align: center;
}

#formFooter {
background-color: #f6f6f6;
border-top: 1px solid #dce8f1;
padding: 25px;
text-align: center;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}



/* TABS */
h2.active {
color: #0d0d0d;
border-bottom: 2px solid #4cff12;
}
input[type=button], input[type=submit], input[type=reset]  {
background-color: #4cff12;
border: none;
color: rgb(0, 0, 0);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
text-transform: uppercase;
font-size: 13px;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin: 5px 20px 40px 20px;
}


input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
-moz-transform: scale(0.95);
-webkit-transform: scale(0.95);
-o-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

input[type=text] {
background-color: #f6f6f6;
border: none;
color: #0d0d0d;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 5px;
width: 85%;
border: 2px solid #f6f6f6;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
background-color: #fff;
border-bottom: 2px solid #4cff12;
}

input[type=text]:placeholder {
color: #cccccc;
}

*:focus {
  outline: none;
} 

#icon {
width:20%;
}

* {
box-sizing: border-box;
}
.login-content {
--background: url('/assets/VISITANTES.png') center center / cover no-repeat;
}



