<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Temperatura</ion-title></ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h1></h1>
  <h1></h1>

  <h1>                          </h1>
  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/temperatura.png"></ion-img>
    </ion-card-header>
  </ion-card>
  <h1></h1>
  <ion-content>
    <div>
      <p>Temperatura: {{ temperatura }} °C</p>
      <p>Humedad: {{ humedad }} %</p>
    </div>
  </ion-content>
  

  <h1></h1>
  <h1></h1>
  <h1></h1>

  <ion-button>Act

