<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">OPCIONES EMPLEADOS</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <div class="inicio">
      <div class="formulario">      
            <form>       
                  <button type="submit" [routerLink]="['/imagen-qr']"><p>Generar QR</p></button>         
            </form>
            <form>       
              <button type="submit" [routerLink]="['/sensor-temperatura']"><p>Mirar temperatura</p></button>         
        </form>
      </div>  
    </div>
  </ion-content>


