<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="formData.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos:</ion-label>
      <ion-input [(ngModel)]="formData.apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo electrónico:</ion-label>
      <ion-input [(ngModel)]="formData.correo" type="email"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Botón para generar el código QR -->
  <ion-button expand="block" color="green" (click)="generarQR()">Generar QR</ion-button>

  <!-- Elemento canvas para mostrar el código QR -->
  <canvas #qrCanvas></canvas>
</ion-content>
