<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">
      Generar código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <h1></h1>
  <h1></h1>
  <ion-title>Nombre usuario</ion-title>

  <h1>                          </h1>

  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/icon/QR1.png"></ion-img>
    </ion-card-header>
  </ion-card>
  

  <h1></h1>
  <h1></h1>
  <h1></h1>

  <ion-button  (click)="actualizarNombre()">Actualizar</ion-button>

</ion-content>
