
  //eve
  .menu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  ion-toolbar {
    border-width: 6px;
    border-color: #3eeb13;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    background-color: black;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  ion-button{
    width: 350px;
    display:block;
    margin: 0 auto;
    background-color: #3eeb13;

  }

  ion-title{
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 15px;
    font-weight:bold;

  }

  ion-card{
    width: 300px;
    height: 300px;
    display:block;
    margin: 0 auto;


  }

  ion-content{
    display: flex;
    justify-content: center;

  }
