<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Historial de accesos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="access-card">
    <ion-card-header>
      <ion-card-title class="name">Luis Borja</ion-card-title>
      <ion-card-subtitle class="date">Fecha: 17/06/2023</ion-card-subtitle>
      <ion-card-subtitle class="time">Hora: 7:48 am</ion-card-subtitle>
      <ion-card-subtitle class="description">Motivo de acceso: Mantenimiento a ventiladores</ion-card-subtitle>
    </ion-card-header>

      <ion-card-header>
        <ion-card-title class="name">Evelin Moreno</ion-card-title>
        <ion-card-subtitle class="date">Fecha: 17/06/2023</ion-card-subtitle>
        <ion-card-subtitle class="time">Hora: 9:48 am</ion-card-subtitle>
        <ion-card-subtitle class="description">Motivo de acesso: Recorrido estudiante</ion-card-subtitle>
      </ion-card-header>

  </ion-card>
</ion-content>
