<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">HISTORIAL DE ACCESOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="access-card">
    <ion-card-header>
      <ion-card-title class="name">Luis Borja</ion-card-title>
      <ion-card-subtitle class="date">17/06/2023</ion-card-subtitle>
      <ion-card-subtitle class="time">7:48 am</ion-card-subtitle>
      <ion-card-subtitle class="description">Mantenimiento a ventiladores</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
