<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">INGRESOS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-card *ngFor="let ingreso of ingresos">
      <ion-card-header>
        <ion-card-title>{{ ingreso.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Apellidos: {{ ingreso.apellidos }}</p>
        <p>ID: {{ ingreso.oid }}</p>
      </ion-card-content>
      <!-- Agrega un botón para eliminar el registro -->
      <ion-button (click)="eliminarRegistro(ingreso._id)" color="danger" class="center-button">
        Eliminar
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
