<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Código QR generado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">

  <br>
  <br>
  <ion-card-subtitle>Código QR únicamente válido para la entrada al centro de datos de
    la Universidad Tecnológica de Ciudad Juárez</ion-card-subtitle>
  <br>

  <div class="centrado">
    <ion-card>
      <ion-card-content class="centro">
        <div *ngIf="qrDataURL">
          <img [src]="qrDataURL" alt="Código QR del último formulario">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <br>
  <ion-card-subtitle>Fecha de creación:</ion-card-subtitle>
  <ion-card-subtitle>02 de agosto del 2023</ion-card-subtitle>
  <br>
  
  <!-- Se eliminó el ion-content extra aquí -->
  <ion-button class="centered-button" (click)="descargarQR()">Descargar QR</ion-button>

</ion-content>
