<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-title class="menu">Inicio sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Iniciar sesión </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/icono.png" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Iniciar sesión" [routerLink]="['/opciones-emp']">
      </form>     
    </div>
  </div>
</ion-content>



